/*  your css code here. If applicable */
table ,td {
  
	    border: 1px solid black;
        border-collapse: collapse;
        padding: 1px;
}
t th {
    border: 1px solid black;
    padding: 1px;
}
.middle {
    /* Add any additional styles for the middle class if needed */
}